extends layout

block content
	.container.mt-5
		.row
			.col-md-9
				h4 Current Ranking
				table.table.table-hover.mt-3
					thead
						tr
							th Ranking
							th Score
							th Date Submitted
							th Submitter
					tbody
						tr
							th(scope='row') 1
							td 118
							td 10/17/2017
							td 
								a(href="#") Lorem
						tr
							th(scope='row') 2
							td 95
							td 10/04/2017
							td 
								a(href="#") ipsum
						tr
							th(scope='row') 3
							td 94
							td 9/23/2017
							td 
								a(href="#") dolor
						tr
							th(scope='row') 4
							td 94
							td 9/20/2017
							td 
								a(href="#") sit
						tr
							th(scope='row') 5
							td 92
							td 10/04/2017
							td 
								a(href="#") amet
			.col-md-3
				h4 About BPS
				p.mt-3 Our routes and stops aren't perfectly efficient and our bell times are out of balance. We're hosting a challenge to use computer science to improve our routes and equitably balance our bell times - with the goal of freeing up funds to reinvest in schools and to improve the student experience.