extends layout

block additionalHead
    script(src='/scripts/ranking.js')

block content
  .container.mt-5
    .row
      .col-md-9
        h4 Current Ranking
        table.table.table-hover.mt-3
          thead
            tr
              th Ranking
              th Average Distance
              th Date Submitted
              th Submitter
          tbody#ranking-body
            tr
                th Loading
                td Loading
                td Loading
                td Loading
      .col-md-3
        h4 About BPS
        p.mt-3 Our routes and stops aren't perfectly efficient and our bell times are out of balance. We're hosting a challenge to use computer science to improve our routes and equitably balance our bell times - with the goal of freeing up funds to reinvest in schools and to improve the student experience.
        h4 About User
        p.mt-3#login-text {{name}}
