extends layout

block content
  script(src='shim.js')
  script(src='xlsx.full.min.js')
  script(src = 'spin.min.js')
  script(src='formatJSON.js')
  .container.mt-5
      h4 Submit a Solution to the BPS Challenge
      .row
        .file-drop-container
          #drop(style="height: 200px; width: 500px; background-color: white; border-style: dashed; border-color: black; border-radius: 30px; text-align: center;")
            | Drop a solution here
            br
            br
            br
            br
            | Or click here to select a file:
            input#xlf(type='file', name='xlfile', accept=".xlsx,.xls,.XLSX,.XLS")
      .row
        #spin_box(style="height: 100px; width: 100px; position: relative; background-color: white; text-align: center;")

      .row
        pre#out.
        #htmlout
        script(src='jquery.min.js')
        script(src = 'upload.js')
        script(src='validate.js')
        script(type='text/javascript').
