extends layout

block content
  script(src='shim.js')
  script(src='xlsx.full.min.js')
  script(src = 'spin.min.js')
  script(src='formatJSON.js')
  h4 Submit a Solution to the BPS Challenge
  .container.mt-5
      .row
        .file-drop-container
          #drop(style="height: 200px; width: 500px; background-color: white; border-style: dashed; border-color: black; border-radius: 30px; text-align: center;") Drop a solution here
      .row
        Or click here to select a file
      .row
        input#xlf(type='file', name='xlfile')
      .row
        | Use readAsBinaryString: (when available)
        input(type='checkbox', name='userabs', checked='')
      .row
        | Output Format:
        select(name='format', onchange='setfmt()')
          option(value='json', selected='')  JSON
          option(value='csv')  CSV
          option(value='form')  FORMULAE
          option(value='html')  HTML
      .row
        #spin_box(style="height: 100px; width: 100px; position: relative; background-color: white; text-align: center;")

      .row
        pre#out.
        #htmlout
        script(src='jquery.min.js')
        script(src = 'upload.js')
        script(type='text/javascript').
          do_file()
